*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
  min-height: 100vh;
}


a {
  text-decoration: none;
  color: inherit;
}


ul {
  list-style: none;
}


button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}


img {
  display: block;
  max-width: 100%;
}


* {
  transition: all 0.2s ease-in-out;
}
